<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OrbisAccess.PublicSite.Specs"  culture="neutral" />
        <codeBase version="1.0.0.0" href="FILE://C:/Projects/oa-public/src/OrbisAccess.PublicSite.Specs/bin/debug/OrbisAccess.PublicSite.Specs.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>